#map {
    height: 400px;
    width: 100%;
    margin: 0 auto;
}


body {
    /* color change */
    background-color:#b71c1c;  
    background: repeating-radial-gradient(black, #D5D2D4 10%, RED 15%);

}


.title {
    font-size: 0.75rem;
    color: black;
}

.albumBox {
    display: inline-block;
    margin: 1%;
    padding: 0.5%;
}

#bandInput{
    background-color: white;
    border-radius: 0.25rem;
}

#results{
    border-radius: 0.5rem;
    background-color: white;
    height: 85%;
    padding: 1%;
}

#recentAlbums {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

#lastFM img{
    height: 200px;
    width: 100%;
    object-fit: contain;
}

#searchButton {
    background-color: red;
    color: black;
} 
#newSearchButton {
    background-color: red;
    color: black;
}

.btn:hover{
    background-color: #FFCCCC;
    /* width: 200px;
    height: 200px; */
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.btn {
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 100px;
    height: 40px;
    background-color: #0000FF;
    -webkit-transition: width 10s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width .5s, height .5s, background-color .5s, transform .5s;
}

.spin{
    border-style: solid;
    border-width: 1px;
    display: block;
    /* width: 100px;
    height: 100px; */
    background-color: #0000FF;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: background-color 2s, transform 2s;
    transform: rotate(360deg);
}
/* .newSearchButton{

} */

@media screen and (max-width: 480px) {

body {
    max-width: 460px;
}


}